@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

nav {
    color: rgb(190, 190, 190);
    z-index: 2;
    position: relative;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.title {
    color: whitesmoke;
    z-index: 2;
    position: absolute;
    font-size: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}